@import url();

html body{
    height: 100%;
    width: 100%;
}
.logo{
    background-image: url(/assets/backgrounds/h_img.jpg);
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.aboutus{
    text-align: center;
}